body {
  background-color: rgb(250, 250, 250);
}

.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-decoration: none;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: rgb(227, 230, 255);
  color: #333;
}

tr:hover {
  background-color: rgb(237, 238, 253);
}

.container {
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.head {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
